
.topOfProduct {
    width: 100%;
    height: 60%;

    --left-color: none;
    --right-color: none;

    background:
            linear-gradient(to bottom, transparent 0%, transparent 100%),
            linear-gradient(135deg, transparent 0%, transparent 35%, var(--left-color) 35%, var(--left-color) 44%, transparent 44%, transparent 100%),
            linear-gradient(to top, transparent 0%, transparent 100%),
            linear-gradient(315deg, transparent 0%, transparent 35%, var(--right-color) 35%, var(--right-color) 44%, transparent 44%, transparent 100%),
            #D2F6F4;
}
